## Assignment 3 - model - group 28

In [82]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn as skl
import sklearn.model_selection
import sklearn.compose
import sklearn.decomposition

In [83]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hari\anaconda3\lib\site-packages (1.3.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hari\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hari\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\hari\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hari\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

**Collecting the data**

In [84]:
# Importing Dataset

data = pd.read_csv("recruitmentdataset-2022-1.3.csv")

**Describe the data**

In [85]:
# Test printing

data.head(10)

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,x8011e,female,24,German,Swimming,70,False,False,False,False,1,True,phd,A,True
1,x6077a,male,26,German,Golf,67,False,True,False,False,2,True,bachelor,A,False
2,x6006e,female,23,Dutch,Running,67,False,True,True,False,0,True,master,A,False
3,x2173b,male,24,Dutch,Cricket,70,False,True,False,False,1,True,master,A,True
4,x6241a,female,26,German,Golf,59,False,False,False,False,1,False,master,A,True
5,x9063d,female,26,Dutch,Chess,63,False,False,False,False,1,True,bachelor,A,True
6,x5785d,female,27,Dutch,Tennis,63,True,True,False,False,2,True,bachelor,A,False
7,x8767c,female,22,Dutch,Swimming,71,False,True,False,False,1,True,master,A,True
8,x6541b,female,28,Dutch,Football,65,True,False,False,True,3,False,bachelor,A,False
9,x3890b,male,24,Dutch,Football,55,True,False,False,True,3,False,master,A,True

In [86]:
df_company = data[data['company']=='A']
df_company

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,x8011e,female,24,German,Swimming,70,False,False,False,False,1,True,phd,A,True
1,x6077a,male,26,German,Golf,67,False,True,False,False,2,True,bachelor,A,False
2,x6006e,female,23,Dutch,Running,67,False,True,True,False,0,True,master,A,False
3,x2173b,male,24,Dutch,Cricket,70,False,True,False,False,1,True,master,A,True
4,x6241a,female,26,German,Golf,59,False,False,False,False,1,False,master,A,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,x2659d,male,30,Dutch,Tennis,54,True,False,False,True,2,False,bachelor,A,False
996,x5868g,male,22,Dutch,Running,69,False,True,False,False,1,True,bachelor,A,False
997,x3164f,male,28,Dutch,Cricket,57,False,False,False,False,1,False,bachelor,A,False
998,x6907b,male,25,Dutch,Tennis,65,False,True,False,False,1,True,master,A,False
999,x7803c,female,22,Dutch,Swimming,68,False,True,False,False,0,True,master,A,False

In [87]:
filtered_df = df_company[df_company['sport'].str.contains('Swimming|Golf|Football', case=False)]

In [88]:
filtered_df.head(10)

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,x8011e,female,24,German,Swimming,70,False,False,False,False,1,True,phd,A,True
1,x6077a,male,26,German,Golf,67,False,True,False,False,2,True,bachelor,A,False
4,x6241a,female,26,German,Golf,59,False,False,False,False,1,False,master,A,True
7,x8767c,female,22,Dutch,Swimming,71,False,True,False,False,1,True,master,A,True
8,x6541b,female,28,Dutch,Football,65,True,False,False,True,3,False,bachelor,A,False
9,x3890b,male,24,Dutch,Football,55,True,False,False,True,3,False,master,A,True
10,x9775f,female,27,Dutch,Football,61,False,False,False,False,1,True,bachelor,A,False
11,x3562f,male,28,Dutch,Football,56,False,False,False,True,2,False,bachelor,A,True
12,x4044c,female,27,German,Football,62,False,True,False,False,1,True,bachelor,A,False
13,x9428d,male,26,Dutch,Football,56,False,False,False,False,1,False,bachelor,A,False

In [89]:
filtered_df.shape

(492, 15)

In [90]:
filtered_df.describe()

              age  ind-university_grade  ind-languages
count  492.000000            492.000000     492.000000
mean    26.247967             61.833333       1.392276
std      2.602579              5.853321       0.848253
min     21.000000             47.000000       0.000000
25%     24.000000             58.000000       1.000000
50%     26.000000             62.000000       1.000000
75%     28.000000             66.000000       2.000000
max     32.000000             77.000000       3.000000

In [91]:
sport_counts = filtered_df['sport'].value_counts()
sport_counts

Football    243
Swimming    163
Golf         86
Name: sport, dtype: int64

In [92]:
nationality_counts = filtered_df['nationality'].value_counts()
nationality_counts

Dutch      367
German      68
Belgian     57
Name: nationality, dtype: int64

In [93]:
hired_counts = filtered_df['decision'].value_counts()
hired_counts

False    277
True     215
Name: decision, dtype: int64

In [94]:
degree_counts = filtered_df['ind-degree'].value_counts()
degree_counts

bachelor    260
master      205
phd          27
Name: ind-degree, dtype: int64

In [95]:
gender_counts = filtered_df['gender'].value_counts()
gender_counts

male      267
female    217
other       8
Name: gender, dtype: int64

In [96]:
languages_counts = filtered_df['ind-languages'].value_counts()
languages_counts

1    210
2    164
0     69
3     49
Name: ind-languages, dtype: int64

**Explore the data**

**Data Preparation**

In [97]:
final_df = filtered_df*1
final_df.head(10)
final_df

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
0,x8011e,female,24,German,Swimming,70,0,0,0,0,1,1,phd,A,1
1,x6077a,male,26,German,Golf,67,0,1,0,0,2,1,bachelor,A,0
4,x6241a,female,26,German,Golf,59,0,0,0,0,1,0,master,A,1
7,x8767c,female,22,Dutch,Swimming,71,0,1,0,0,1,1,master,A,1
8,x6541b,female,28,Dutch,Football,65,1,0,0,1,3,0,bachelor,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,x5299f,male,24,Dutch,Football,66,1,0,1,1,3,1,master,A,1
989,x1336g,male,28,Dutch,Swimming,57,0,0,0,0,0,0,master,A,0
991,x8155a,female,28,Dutch,Football,66,0,0,0,1,2,0,master,A,1
994,x6241c,other,27,Belgian,Swimming,62,0,1,0,1,2,0,bachelor,A,0
999,x7803c,female,22,Dutch,Swimming,68,0,1,0,0,0,1,master,A,0

**Modelling the data**

In [98]:
df_train, df_test = skl.model_selection.train_test_split(final_df, test_size=0.20, random_state=13)
df_train.head()

,Id,gender,age,nationality,sport,ind-university_grade,ind-debateclub,ind-programming_exp,ind-international_exp,ind-entrepeneur_exp,ind-languages,ind-exact_study,ind-degree,company,decision
144,x4788b,female,28,German,Golf,63,0,1,0,0,1,1,bachelor,A,0
877,x9141b,male,30,Belgian,Swimming,68,0,1,1,1,3,1,bachelor,A,1
422,x8241e,female,23,Dutch,Football,68,1,1,0,1,2,1,bachelor,A,1
986,x7984g,female,26,Dutch,Football,68,1,0,0,0,2,1,master,A,0
159,x5585b,male,23,Dutch,Swimming,61,0,0,0,0,1,0,bachelor,A,1

In [102]:
price_scaler = skl.pipeline.Pipeline(
        steps = [
            ('scale', skl.preprocessing.RobustScaler()),
            ('power_transform', skl.preprocessing.PowerTransformer())])
price_scaler

Pipeline(steps=[('scale', RobustScaler()),
                ('power_transform', PowerTransformer())])

In [110]:
data_transformer = skl.compose.ColumnTransformer(
    transformers = [
        ('ordinal_feature_scaler', skl.preprocessing.OrdinalEncoder(), ['ind-degree']),
        ('feature_reducer', skl.pipeline.Pipeline(
                            steps = [
                                ('scale', skl.preprocessing.RobustScaler()),
                                ('reduce', skl.decomposition.PCA(n_components=1)),
                                ('power_transform', skl.preprocessing.PowerTransformer())
                             ]), ['ind-university_grade']),
        ('numerical_feature_scaler', skl.preprocessing.RobustScaler(), ['ind-university_grade'])
    ], remainder = 'passthrough')

In [111]:
model_pipeline1 = skl.pipeline.Pipeline(
    steps = [
        ('transform_data', data_transformer),
        ('linear_regression', skl.linear_model.LogisticRegression())])

In [114]:
model_pipeline1.fit(df_train[['ind-degree', 'ind-university_grade']], df_train['decision'])

Pipeline(steps=[('transform_data',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ordinal_feature_scaler',
                                                  OrdinalEncoder(),
                                                  ['ind-degree']),
                                                 ('feature_reducer',
                                                  Pipeline(steps=[('scale',
                                                                   RobustScaler()),
                                                                  ('reduce',
                                                                   PCA(n_components=1)),
                                                                  ('power_transform',
                                                                   PowerTransformer())]),
                                                  ['ind-university_grade']),
                                                 ('numerical_feature_scaler',
                                                  RobustScaler(),
                                                  ['ind-university_grade'])])),
                ('linear_regression', LogisticRegression())])